.errorState {
  position: relative;
  font-size: 30px;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  top: 5em;
  left: 15%;
}

.errorButton {
  position: relative;
  top: 5em;
  left: 10em;
  height: 1.85em;
  width: 6em;
  background-color: black;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  border-radius: 3px;
  border: 1.3px solid darkgray;
  cursor: pointer;
}

.errorButton:hover {
  position: relative;
  top: 5em;
  left: 10em;
  height: 1.85em;
  width: 6em;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
  border-radius: 3px;
  border: 1.3px solid black;
  cursor: pointer;
  transition: ease-out 0.15s;
}

.errorButtonTag {
  position: relative;
  margin-top: 0.4em;
}
