.root {
  height: 30.4em;
  width: 20%;
  position: relative;
  float: right;
  right: 3%;
  top: 0;
  margin-bottom: 5%;
  border: 5px solid rgb(133, 133, 133);
  border-radius: 3.5px;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.root:hover {
  height: 30.4em;
  width: 20%;
  position: relative;
  float: right;
  right: 3%;
  top: 0;
  margin-bottom: 5%;
  border: 5px solid rgb(48, 48, 48);
  border-radius: 3.5px;
  cursor: pointer;
}

.description {
  position: relative;
  margin-top: 20%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  text-align: center;
  color: rgb(133, 133, 133);
  transition: 0.5s ease-out;
}

.root:hover .description {
  position: relative;
  margin-top: 20%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  text-align: center;
  color: rgb(48, 48, 48);
}

.searchLogo {
  height: 6.5em;
  width: 6.5em;
  position: relative;
  margin-top: 46%;
  margin-left: 17%;
  border: 14px solid rgb(133, 133, 133);
  border-radius: 100%;
  display: block;
  transition: 0.5s ease-out;
}

.root:hover .searchLogo {
  height: 6.5em;
  width: 6.5em;
  position: relative;
  margin-top: 46%;
  margin-left: 17%;
  border: 14px solid rgb(48, 48, 48);
  background-color: rgb(0, 193, 252);
  border-radius: 100%;
  display: block;
}

.decoration {
  height: 4em;
  width: 1em;
  position: relative;
  margin-top: -15%;
  margin-left: 68%;
  background-color: rgb(133, 133, 133);
  transform: rotate(-45deg);
  transition: 0.5s ease-out;
}

.root:hover .decoration {
  height: 4em;
  width: 1em;
  position: relative;
  margin-top: -15%;
  margin-left: 68%;
  background-color: rgb(48, 48, 48);
  transform: rotate(-45deg);
}

/* Modal Control */

.mymodal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  transition: opacity 1s ease-in;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  outline: none;
  transition: opacity 1s ease-in;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in;
  outline: none;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 1s ease-in;
  outline: none;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transition: opacity 500ms ease-in;
  outline: none;
}

.closeModal {
  float: right;
  padding: none;
  padding-top: 2.2%;
  margin-right: 11px;
  margin-top: -5px;
  font-family: Helvetica, sans-serif;
  color: darkgray;
  cursor: pointer;
  outline: none;
  transition: opacity 500ms ease-in;
}

.closeModal:hover {
  float: right;
  padding: none;
  padding-top: 2.2%;
  margin-right: 11px;
  margin-top: -5px;
  font-family: Helvetica, sans-serif;
  color: black;
  cursor: pointer;
  outline: none;
  transition: opacity 500ms ease-in;
}
