# See https://help.github.com/articles/ignoring-files/ for more about ignoring
# files.
app.bundle.js
lib

# dependencies
/node_modules/

# testing
coverage
__snapshots__

# production
build

# misc
.DS_Store
npm-debug.log*

vault/dev.json