.mainLogo {
  position: relative;
  height: 35px;
  width: 35px;
  margin-left: 47.5%;
}

.searchBar {
  position: relative;
  width: 20em;
  height: 1em;
  font-size: 22px;
  font-family: Helvetica, Arial, sans-serif;
  top: 3em;
  left: 26%;
  border: 3px solid gray;
  border-radius: 3px;
}

.searchType {
  position: relative;
  margin-right: 36em;
  margin-top: 4.8em;
  float: right;
  background-color: rgba(255, 255, 255, 0.952);
  padding-left: 3%;
  padding-right: -1%;
  border-left: 0.7px solid darkgray;
  width: 2.5em;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  outline: none;
}

.searchBy {
  border: none;
  outline: none;
  font-size: 14.5px;
  font-weight: bold;
  color: rgb(116, 116, 116);
  background-color: white;
  cursor: pointer;
}

.searchButton {
  position: relative;
  text-align: center;
  padding-bottom: 0.25%;
  left: 19.5%;
  float: right;
  width: 4em;
  height: 1em;
  font-size: 22px;
  font-family: Helvetica, Arial, sans-serif;
  top: 3em;
  color: white;
  background-color: black;
  border: 3px solid black;
  border-radius: 3px;
  cursor: pointer;
}

.searchButtonGray {
  position: relative;
  text-align: center;
  padding-bottom: 0.25%;
  left: 19.5%;
  float: right;
  width: 4em;
  height: 1em;
  font-size: 22px;
  font-family: Helvetica, Arial, sans-serif;
  top: 3em;
  color: rgb(0, 0, 0);
  background-color: rgb(99, 99, 99);
  border: 3px solid rgb(100, 100, 100);
  border-radius: 3px;
  cursor: pointer;
}

.searchButton:hover {
  position: relative;
  text-align: center;
  padding-bottom: 0.25%;
  left: 19.5%;
  float: right;
  width: 4em;
  height: 1em;
  font-size: 22px;
  font-family: Helvetica, Arial, sans-serif;
  top: 3em;
  color: rgb(0, 0, 0);
  background-color: rgb(180, 180, 180);
  border: 3px solid rgb(180, 180, 180);
  border-radius: 3px;
  cursor: pointer;
}

.divider {
  position: relative;
  height: 2em;
  top: 9em;
  left: 3.7em;
  width: 90%;
  position: relative;
  text-align: center;
  border-top: 0.7px solid black;
  border-bottom: 0.7px solid black;
}

.noHistory {
  position: relative;
  top: 5em;
  text-align: center;
  font-size: 35px;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 2em;
}
